.tic-tac-toe {
  text-align: center;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.status {
  margin-bottom: 20px;
  font-size: 20px;
}

.board-row {
  display: flex;
  justify-content: center;
}

.square {
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square:hover {
  background-color: #dcdcdc;
}
